@model Remood_Place.Models.Package

@{
    ViewData["Title"] = "Create";
    Layout = "_headerfooter";
    
}
<!DOCTYPE html>
<html>
<head>
    <title>5K & 10K Registration Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/createpac/create.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body >
    <div class="testbox d-block" style="z-index:0">
        <form asp-action="Create">
            <div class="banner">
            </div>
            <p>To Create A Package</p>
            <div class="item">
                <input asp-for="UserId" hidden class="form-control" value="0"/>

            </div>
            <div class="item">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="item">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row  d-flex">
                <div class="item  col-4 ">
                    <div class="item">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<CategoryPackage>()"></select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
            </div>

           
            <div class="btncreate">
                <input type="submit" value="Next ... "  />
            </div>
           
        </form>

    </div>
    <a asp-action="Index">
        <button class="button_back" style="position:fixed !important; bottom:20px !important;right:20px !important;z-index:666 !important">
            <svg class="svgIcon" viewBox="0 0 384 512">
                <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
            </svg>
        </button>
    </a>


    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>