@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 403 Page Forbidden</title>
    <link rel="stylesheet" href="/erro/style.css">

</head>
<body style="height: 450px !important;">
    <div class="maincontainer">
        <div class="bat">
            <img class="wing leftwing"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
            <img class="body"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
            <img class="wing rightwing"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        </div>
        <div class="bat">
            <img class="wing leftwing"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
            <img class="body"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
            <img class="wing rightwing"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        </div>
        <div class="bat">
            <img class="wing leftwing"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
            <img class="body"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
            <img class="wing rightwing"
                 src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
        </div>
        <img class="foregroundimg" src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/HauntedHouseForeground.png" alt="haunted house">

    </div>
    <h1 class="errorcode">ERROR 404</h1>
    <a asp-controller="Package" asp-action="Index">
        <button class="button_back">
            <svg class="svgIcon" viewBox="0 0 384 512">
                <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
            </svg>
        </button>

    </a>

</body>
</html>


