@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_headerfooter";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>About</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-g4SOBcWitA10A8cq8/83rPjvXGjHx++vLFFD0ZIo1x2YDgjP3HpASs+W2xAsgB/n" crossorigin="anonymous">
	<style>
		.packageBody {
			/* background-image: url('/createpac/cc.jpg'); */
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			width: 100%; /* عرض 100% من نافذة العرض */
			height: 100%; /* ارتفاع 100% من نافذة العرض */
			background-color:white;
		}
	</style>

</head>
<body class="packageBody" style="background-color:white;">



	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>We are happy to visit our website</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Why <span class="orange-text">Our Website</span></h2>
						<div class="row">
							<!-- Restaurant Section -->
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="card">
									<!-- Restaurant Header -->
									<div class="card-header">
										<h3>Restaurant</h3>
									</div>

									<!-- Restaurant Photo -->
									<img src="/detailsdescrapition/r.jpg" class="card-img-top" alt="Cafe Photo" style="width: 300px; height: 150px;">
								</div>
							</div>

							<!-- Cafe Section -->
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="card">
									<!-- Cafe Header -->
									<div class="card-header">
										<h3>Cafe</h3>
									</div>

									<!-- Cafe Photo -->
									<img src="/detailsdescrapition/cafee.jpg" class="card-img-top" alt="Cafe Photo" style="width: 300px; height: 150px;">

			
								</div>
							</div>

							<!-- Shop Section -->
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="card">
									<!-- Shop Header -->
									<div class="card-header">
										<h3>Shop</h3>
									</div>

									<!-- Shop Photo -->
									<img src="/detailsdescrapition/shop.jpg class="card-img-top" alt="Cafe Photo" style="width: 300px; height: 150px;">

						
								</div>
							</div>

							<!-- Games Section -->
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="card">
									<!-- Games Header -->
									<div class="card-header">
										<h3>Games</h3>
									</div>

									<!-- Games Photo -->
									<img src="/detailsdescrapition/games.jpg" class="card-img-top" alt="Cafe Photo" style="width: 300px; height: 150px;">

				
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end featured section -->
	<
	<section class="shop-banner" style="background-color: rgba(211, 211, 211, 0.2); padding: 50px 0;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<h2 class="mb-4">Discover Our Exclusive Offer!</h2>
					<p class="lead mb-4">Are you a proud owner of a cafe or restaurant?</p>
					<p class="mb-4">Join our platform and showcase your business to thousands of potential customers. Take advantage of our promotional offer and elevate your brand's visibility!</p>
					<p class="mb-4">Here's what you'll get:</p>
					<ul class="list-unstyled mb-4">
						<li><i class="fas fa-check-circle text-success me-2"></i> Increased exposure</li>
						<li><i class="fas fa-check-circle text-success me-2"></i> Greater customer engagement</li>
						<li><i class="fas fa-check-circle text-success me-2"></i> Boosted sales</li>
					</ul>
					<p class="mb-4">Don't miss out on this incredible opportunity to grow your business!</p>
				</div>
			</div>
		</div>
	</section>


	<!-- end shop banner -->
	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Team</span></h3>
						<p>Every one of the team members worked hard to produce this project .</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Abdallah Ayman  <span>Frontend Developer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4> Ahmed Amin <span>Backend Developer </span></h4>
						<ul class="social-link-team">
							<li><a href="https://www.facebook.com/ahmedaminiiiiiiiiiiiiiiiii" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/ahmed_minoo/" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4> Mohamed Khaled <span>Backend Developer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-4"></div>
						<h4>Mostafa Omar <span>Frontend Developer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->
	<!-- footer -->
	<div class="footer-area" style="background-color:#476f95;">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Welcome to Discover Cairo, your premier online resource for exploring the vibrant and historic city of Cairo. Whether you're a first-time visitor or a seasoned traveler, our website provides comprehensive information on the best tourist attractions, activities, and hidden gems in Cairo.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/Posts/Index">Home</a></li>
							<li><a href="/Package/Index">Packages</a></li>
							<li><a href="/Posts/Index">Posts</a></li>
							<li><a href="/aboutus">About</a></li>
							<li><a href="/contactus">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="about.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>
						Hello &copy;  - <a href="">Remood</a>,  All Rights Reserved.

					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

</body>
</html>